<h1>New Comment</h1>
 
 <%= form_for @post do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
 
   <%= f.label :body %>
   <%= f.text_area :body %>
 
   <%= f.submit "Save" %>
 <% end %>

 
 <div class="row">
   <div class="col-md-4">
     <p>Add a comment:</p>
     
   </div>
   <div class="col-md-8">
   
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
    
   </div>
 </div>